<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/index.css" type="text/css">
    <link rel="icon" href="./img/material-symbols--mail-outline.svg">
    <title>Txt.fy your e-mails</title>
</head>
<body>
    <h1>Textify</h1>
    <div id="container">
        <h2>Insert your email and password to fetch data.</h2>
        <form method="POST" action="/sendInfo" class="mailForm">

            <div class="formGroup">
                <label for="email" id="userMail">E-mail: </label>
                <input id="email" type="email" autocomplete="email" name="email" required/>
            </div>

            <div class="formGroup">
                <label for="password">Password: </label>
                <input id="password" type="password" name="password" required>
            </div>
            
            <button type="submit">Submit</button>
        </form>
    </div>
    <script src="../script/index.js"></script>
</body>
</html>